.color-navbar {
  background-color: #D92C82 !important;
  background-image: linear-gradient(90deg, #D92C82 0%, #FF8A6B 50%, #FFECCF 100%);
}

.color-texto-masrca {
  color: #A11768 !important;
  font-size: 18px;
}
