.color-navbar {
  background-color: #D92C82 !important;
  background-image: linear-gradient(90deg, #D92C82 0%, #FF8A6B 50%, #FFECCF 100%);
}

.color-texto-masrca {
  color: #A11768 !important;
  font-size: 18px;
}

.margen-superior-main {
  margin-top: 50px;
  padding: 20px;
}


.boton-ancho-auto {
  width: auto;
}

.margen-superior-main {
  margin-top: 50px;
  padding: 20px;
}

.color-texto-marca {
  color: #1e3d87 !important;
  font-size: 18px;
}


body {
  margin: 0;
  padding: 0;
}